<style type="text/css">
    body{
        background: url('images/wallpaper.png');
    }
    a:link{   
         text-decoration:none;   
        }  
    body{
      color:#757575;
    }
</style>
<div>

<div layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <img src="images/favicon.png" class="avatar" width="40px">             
                <div>Indentificación</div>
                <div>usuario password :) </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in menu" >
                <a ng-href="{{item.link}}">
                    <md-item-content layout="row" md-ink-ripple layout-align="start center" >
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Otros</md-subheader>
            <md-item ng-repeat="item in admin">
                <a>
                    <md-item-content  layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list>
    </md-sidenav>
    <div layout="column" layout-fill role="main">
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
            <ng-md-icon icon="add"></ng-md-icon>
        </md-button>

        <md-toolbar ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-icon-button launch">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h3>Inicio </h3>
            </div>
        </md-toolbar>
        <div flex md-scroll-x class="bg">
          <div layout-align="center start" layout="row" app-view-segment="1">
          </div>
        </div>
    </div>
</div>