<ion-view view-title="Tienda">
  <ion-content>
  	<ion-list>
  		<ion-item class="item-avatar">
  			<img src="{{linkserver}}{{logo.linkimg}}">
  			<h2>{{tienda.nombre_comercial}}</h2>
	    	<p>{{logo.descripcion}}</p>
  		</ion-item>
  		<ion-item class="item-image">
  			<img src="{{linkserver}}{{portada.linkimg}}">
  		</ion-item>
  		<ion-item>
  			<ion-item class=" item-icon-left item-icon-right" href="#app/mapa/{{id.id}}">
  				<i class="icon ion-map"></i>
  				Mapa 
  				<i class="icon ion-log-out"></i>
  			</ion-item>
  			<ion-item>
  			 
  			</ion-item>
      </ion-item>
      <div id="map" style="width: 100%; height:250px;"></div>
      <ion-item>
  			<ion-item class="item-divider item-icon-left">
  				<i class="icon ion-android-call"></i>
  				Contactos
  			</ion-item>
  			<ion-item>
  				<div class="row">
  					<div class="col">
  						Propietario:
  						<p> {{tienda.propietario}}</p>
  					</div>
  					<div class="col">
  						Teléfono:
  						
  						<p>{{tienda.telefono}}</p>
  					</div>
  				</div>
  			<i class="icon ion-android-people"></i> 
  			</ion-item>
  			<ion-item class="item-divider item-icon-left" >
          		<i class="icon ion-ios-albums-outline"></i>
  				Direccion:
  			</ion-item>
  			<ion-item>
  				<div class="row">
  					<div class="col">
  						<p>Calle Principal</p>
  						{{localizacion.calle_principal}}
  					</div>
  					<div class="col">
  						<p>Calle Secundaria</p>
  						{{localizacion.calle_secundaria}}
  					</div>
  				</div>
  				Local Nro:
  				<p>{{localizacion.num_local}}</p>
  				{{localizacion.nota}}
  			</ion-item>
  		</ion-card>
  	</ion-list>    
  </ion-content>
</ion-view>