<md-card flex="40">
  <img src="images/Wall1.png" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Recuperar Password</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div layout-align="center start" layout="row">
      <form name="formrecu" ng-submit="recuperarpass()" flex="90">
          <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input required type="email" name="correo" ng-model="drecuperarpass.correo"
                      ng-pattern="/^.+@.+\..+$/" />
              <div ng-messages="formrecu.correo.$error" ng-show="formrecu.correo.$dirty">
                <div ng-message="required">Campo Requerido.</div>
                <div ng-message="pattern">Correo invalido</div>
              </div>
            </md-input-container>
          <md-input-container class="md-block">
              <md-button  type="submit" class="md-raised md-primary" ng-disabled="formrecu.$invalid">
                Enviar al correo
              </md-button>
          </md-input-container>
      </form>
    </div>
  </md-card-content>
</md-card>